.fiveDay{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    justify-content: space-between;
    animation: fadein 4s;
}

.card{
 margin-right:15px;
 overflow:visible;
 text-transform: capitalize;
}

.fiveDay::-webkit-scrollbar {    display: none;}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}