.fiveDay {
  display: inline-flex;
  overflow-x: scroll;
  justify-content: space-between;
  width: 100%;
  animation: fadein 4s;
}

.card {
  overflow: visible;
  text-transform: capitalize;
  margin: 10px;
}

.fiveDay::-webkit-scrollbar {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
